/* Basic reset */
@layer reset {
  html {
    font-size: 16px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    color-scheme: light;
    --bg-light: white;
    --bg-dark: rgb(2, 20, 20);
    --bg: var(--bg-light);

    --text-light: black;
    --text-dark: white;
    --text: var(--text-light);
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    color: black;
    background-color: var(--bg);
    display: grid;
    place-items: center;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

.photo-gallery {
  --spacing: 1rem;
  --columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--columns), calc(100vmin / var(--columns) - var(--spacing)));
  grid-auto-rows: calc(100vmin / var(--columns));
  gap: 1rem;
}


.photo-gallery .photo-gallery__image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo-gallery__detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.photo-gallery__detail .photo-gallery__image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  height: 300px;
  position: sticky;
  top: 0;
  transform-origin: top left;
}

.photo-gallery__detail :not(.photo-gallery__image) {
  padding: 1rem;
  transition: opacity 500ms ease, transform 500ms ease;
  pointer-events: none;
  opacity: 0;

}

.photo-gallery__detail.animate :not(.photo-gallery__image) {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }

  :root {
    color-scheme: dark;
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }

}