/* Basic reset */

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


.tab {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 300px;
  max-width: 60%;
  overflow: hidden;
}

.tab-header {
  border-bottom: 1px solid rgb(196, 196, 196);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.tab-header a {
  padding: 1rem 2rem;
  display: block;
  color: black;
  font-weight: 500;
  transition: background 0.2s;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.tab-header a:hover {
  background-color: #eaf3f2;
}

.tab-content {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-auto-columns: 100%;
  scroll-snap-type: x mandatory;
}

.tab-content article {
  padding: 1rem;
  scroll-snap-align: start;
}