/* Basic reset */
@layer reset {
  html {
    font-size: 16px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    color: white;
    display: grid;
    place-items: center;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

:root {
  --accent-light: #0d58e4;
  --accent-dark: #2980b9;
  --accent: var(--accent-light);

  --bg-light: white;
  --bg-dark: rgb(2, 20, 20);
  --bg: var(--bg-light);
}


@media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-dark);
  }

  :root {
    --accent: var(--accent-dark);
    --bg: var(--bg-dark);
  }

}


@media (prefers-reduced-motion: no-preference) {}