/* Basic reset */
@layer reset {
  html {
    font-size: 16px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    color: black;
    display: grid;
    place-items: center;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

:root {
  --bg-light: white;
  --bg-dark: rgb(2, 20, 20);
  --bg: var(--bg-light);
}


.switch-group {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.switch {
  --width: 4rem;
  --height: 2rem;
  --padding: 0.3rem;

  --toggle: white;

  --active-light: #0d58e4;
  --active-dark: #2980b9;
  --active: var(--active-light);

  --inactive-light: rgb(134, 134, 134);
  --inactive-dark: #333;
  --inactive: var(--inactive-light);

  --transition-duration: 0.2s;

  height: var(--height);
  width: var(--width);
  background-color: var(--inactive);
  border-radius: var(--height);
  overflow: hidden;
  padding: var(--padding);
  position: relative;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  outline: 1px solid transparent;
}


.switch:hover {
  box-shadow: 0 0 5px var(--active);
  outline-color: var(--active);
}


@media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-dark);
    color: white;
  }

  :root {
    --accent: var(--accent-dark);
    --bg: var(--bg-dark);
  }

  .switch {
    --active: var(--active-dark);
    --inactive: var(--inactive-dark);
  }

}

.switch>input[type=checkbox] {
  height: var(--height);
  width: var(--width);
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.switch>.toggle {
  width: calc(var(--height) - (var(--padding) * 2));
  height: calc(var(--height) - (var(--padding) * 2));

  background-color: var(--toggle);
  z-index: 0;
  border-radius: 50%;
}

.switch>input[type=checkbox]:checked+.toggle {
  transform: translateX(calc(var(--width) / 2));
}

.switch>input[type=checkbox]:disabled+.toggle {
  opacity: 0.6;
}

.switch.active {
  background-color: var(--active);
}

@media (prefers-reduced-motion: no-preference) {
  .click-toggle {
    transition: transform var(--transition-duration) ease;
  }
}