/* Basic reset */

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --accent-light: #23a197;
  --accent-dark: #34635f;
  --accent: var(--accent-light);
}

:where(button) {
  --padding-y: 1ch;
  --padding-x: 2ch;
  --size: 1.1rem;

  --reset-light: #e25555;
  --reset-dark: #d36c6c;
  --reset: var(--reset-light);
  --text-light: #fff;
  --text-dark: #fff;
  --text: var(--text-light);
  --border-radius: 0.5ch;

  --shadow-light: rgba(18, 112, 104, 0.5);
  --shadow-dark: rgba(19, 104, 97, 0.5);
  --shadow: var(--shadow-light);

  --shadow-spread: 10px;
  --shadow-spread-sm: 2px;

  --transition-motion-reduce: ;
  --transition-motion-ok: box-shadow 0.25s ease, outline-offset 0.25s ease;


  padding: var(--padding-y) var(--padding-x);
  font-size: var(--size);
  font-weight: 600;

  border-radius: var(--border-radius);
  transition: var(--transition-motion-reduce);
  border-width: 2px;
  border-style: solid;
  letter-spacing: inherit;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}


@media (prefers-color-scheme: dark) {
  body {
    background: rgb(2, 20, 20);
  }

  :root {
    --accent: var(--accent-dark);
  }

  :where(button, input[type=button], input[type=submit], input[type=reset]),
  :where(input[type=file])::file-selector-button {
    --reset: var(--reset-dark);
    --text: var(--text-dark);
    --shadow: var(--shadow-dark);
  }
}


:where(.cancel) {
  background: transparent;
  color: var(--reset);
  border-color: var(--reset);
}

:where(button):not(.cancel) {
  background: var(--accent);
  color: var(--text);
  box-shadow: 0 1px var(--shadow-spread) var(--shadow);
  border-color: var(--accent);
}


@keyframes fadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  --animation-direction: normal;
  --animation-reduced: ;
  --animation-motion-ok: fadeIn 0.3s ease var(--animation-direction) forwards;
  --animation: var(--animation-reduced);
  animation: var(--animation);
}

.fade-in.reverse {
  --animation-direction: reverse;
}


.dialog {
  --bg-elevated-dark: rgb(27, 33, 34);
  --bg-elevated-light: rgb(229, 237, 238);
  --bg-elevated: var(--bg-elevated-light);

  --bg-normal-dark: rgb(19, 19, 19);
  --bg-normal-light: rgb(255, 255, 255);
  --bg-normal: var(--bg-normal-light);

  --text-color-dark: rgb(255, 255, 255);
  --text-color-light: rgb(7, 23, 24);
  --text-color: var(--text-color-light);

  background: var(--bg-normal);
  color: var(--text-color);
  fill: var(--text-color);

  max-width: 60%;
  min-width: 200px;
  border-radius: 0.5rem;
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  animation: var(--animation);
}

@media (prefers-color-scheme: dark) {
  .dialog {
    --bg-elevated: var(--bg-elevated-dark);
    --bg-normal: var(--bg-normal-dark);
    --text-color: var(--text-color-dark);
  }
}

:where(.flex) {
  display: flex;
}

:where(.flex .center) {
  align-items: center;
}

:where(.dialog header, .dialog footer, .dialog main) {
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: var(--bg-elevated);
  padding: 0.8rem;
}

:where(.dialog main) {
  background: var(--bg-normal);
  max-height: 70vh;
  overflow: auto;
}

:where(.dialog header) {
  justify-content: space-between;
  font-size: 0.7em;
}

.gap-1 {
  gap: 1rem;
}

:where(.dialog header svg, .dialog header .dismiss) {
  height: 2rem;
  width: 2rem;
}

:where(.dialog header .dismiss) {
  background: var(--bg-elevated);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-color: var(--text-color);
  opacity: 0.5;
}

:where(.dialog footer) {
  justify-content: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .dialog {
    --animation: var(--animation-motion-ok);
  }
}

::selection {
  background-color: var(--accent);
}