/* Basic reset */
@layer reset {
  html {
    font-size: 16px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    color-scheme: light;
    --bg-light: white;
    --bg-dark: rgb(2, 20, 20);
    --bg: var(--bg-light);
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    color: black;
    background-color: var(--bg);
    display: grid;
    place-items: center;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}


@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }

  :root {
    color-scheme: dark;
    --bg: var(--bg-dark);
  }

}

.stories {
  --width: 24rem;
  --height: 80%;
  --aspect-ratio: 9 / 16;
  --users: 1;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--users), 100%);

  width: var(--width);
  height: var(--height);

  overflow-x: auto;

  scroll-snap-type: x mandatory;
  border-radius: 1rem;
}

.stories .user {
  position: relative;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.stories .user picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.stories .user picture img {
  aspect-ratio: var(--aspect-ratio);
  object-fit: cover;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.stories .user .hidden {
  opacity: 0;
  pointer-events: none;
}