/* Basic reset */
@layer reset {
  html {
    font-size: 16px;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    color-scheme: light;
    --bg-light: white;
    --bg-dark: rgb(2, 20, 20);
    --bg: var(--bg-light);

    --text-light: #333333;
    --text-dark: white;
    --text: var(--text-light);
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--bg);
    padding: 2rem;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

.calendar {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 0.5rem;

  --space: 0.5rem;

  padding: var(--space);
}

.calendar .calendar--header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--space);
  align-items: center;
}

.calendar .calendar--header .calendar--actions {
  align-items: center;
  display: flex;
  gap: var(--space);
}

.calendar .calendar--header .calendar--actions button * {
  pointer-events: none;
}


.calendar .calendar--header .calendar--actions button {
  height: 2rem;
  padding: 0 calc(var(--space) * 2);
  font-weight: 500;
  font-size: 1rem;
  background: var(--bg);
  border: 1px solid rgb(165, 165, 165);
  border-radius: 0.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.calendar .calendar--grid {
  height: 80vh;
  border-top: 1px solid rgb(219, 219, 219);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-x: auto;
}

.day {
  margin-top: var(--space);
  border-right: 1px solid rgb(235, 235, 235);
  padding: calc(var(--space)/4);
}

.day.today .day--title {
  background-color: rgb(30, 101, 119);
  color: white;
}


.day .day--title {
  padding: calc(var(--space)/2);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(51, 130, 150);
  border-radius: 0.5rem;
}

.day hr {
  margin: var(--space) 0;
  opacity: 0.3;
}

.calendar .calendar--grid .day:last-child {
  border: none;
}

.day .day--events {
  height: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.day .current--line {
  border: 1px solid #ff8000;
}

.event {
  background-color: rgba(22, 202, 187, 0.534);
  padding: var(--space) calc(var(--space) /2);
  border-radius: 0.5rem;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  position: absolute;
  width: 100%;
}

.event .event--name {
  white-space: nowrap;
}


/* 
@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }

  :root {
    color-scheme: dark;
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }

} */